﻿
@{
    ViewBag.Title = "Index";
}
@model Final_0617.ViewModel.WeekData
<br />
<form action="/Week/Index" method="post">

    請輸入數字：<input type="text" name="week" value="" />
          <input type="submit" name="name" value="查詢" /> <br />
    查詢結果：@Model.Ch_week
</form>