﻿
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>

<p>
    姓名：何芸瑄 <br />

    學號：410616695 <br />

    喜歡的水果：
    @{
        string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };

        <ol>
            @for (int i = 0; i < 5; i++)
            {
                <li>
                    @fruits[i]
                </li>
            }
        </ol>

    }
</p>
